a{
   text-decoration: none;
}
body.login{
  /*background: url(../img/back_md.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
canvas{
   margin-top: 10px;
}
form .editable{
   color: #0c91e5;
}
h1{
   font-size: 0px;
}
img.profile{
   border-radius: 5px;
   border: 1px solid #cddae2;
}
tr.inactivo{
   background: #fff0f0;
   border-color: #eed3d7;
}
tr.red{ 
   background: #ffa8a8;
}

li.noti_color{ 
   background: #ffa8a8 !important;
}
tr.tarea, td.tarea {
  width: 540px;
}
tr.yellow{ 
   background: #F2F5A9;
}
tr.green{ 
   background: #A9F5A9;
}
tr.progreso, td.progreso {
  width: 180px;
}

#all-users td, #all-users th{
   vertical-align: middle;
}
#all-users th, .top-blue th{
   background: #0d77b6;
   color: #fff;   
   text-align: center;  
}
#all-supports td{
   vertical-align: middle;
}
#doc-container{
   height: 800px;
   width: 100%;
}
#docnav{ 
   overflow: auto;
}
#docnav li{
   cursor: pointer;
   list-style-type: none;
   margin: 2px;
   padding: 1px 0px 1px 10px; 
}
#docnav ul{
   border-left: 1px dotted black;
   list-style-type: none;
   margin-left: 7px;
   padding-left: 0; 
}
#docnav .file i{
  color: #a3a3a3;
}
#employees:hover, .edit_profile{
   cursor: hand;
   cursor: pointer; 
}
#listdocument li:not(.clicked):hover{
   background: #eee;
}
#log-statement{
   margin: 10px;
}
#my_form{
   background: #f4f4f4;
}

.btn-inactive{
   display: inline-block;
   padding: 6px 12px;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: normal;
   line-height: 1.428571429;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   border: 1px solid transparent;
   border-radius: 4px;
   -webkit-user-select: none;
}
.btn-sm, .btn-xs {
   vertical-align: bottom;
}
.clear-border{
   border: 0px solid red;
}
.comment {
    width: 350px;
}
.divide .row{
   margin: 10px;
   padding: 15px 0 15px 0;
}
.divide .row ul{
   font-size: 1.1em;
   list-style-type: none;
}
.edit_profile:hover{
   color: #0d77b6;
   text-align: center;
}
.equipo{
   border-radius: 10px;
}
.error{
   border-color: #b94a48;
   box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
   margin-top: 5px;
   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
   text-align: center;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.home{
   position: absolute;
}
.icon-btn div {
   padding: 5px;
}
.icon-download{
   color: #e02222;
}
.icon-ok-sign{
   color: #3cc051;
}
.icon-search{
   cursor: pointer;
}
.icon-sort{
   color: #fff;
}
.inside-avatar{
   border-radius: 50%;
   width: 50px;
   height: 50px;  
}
.img-profile{
   border-radius: 5px;
   display: inline;
}
.middle tbody>tr>td {
   vertical-align: middle;
}
.modal-body p{
   font-size: 1.1em;
}
.morecontent span {
    display: none;
}
.morelink{
   color: #ff8500;
}
.pagination a, .pagination strong{
   position: relative;
   float: left;
   padding: 6px 12px;
   margin-left: -1px;
   line-height: 1.428571429;
   text-decoration: none;
   background-color: #fff;
   border: 1px solid #ddd;
}
.pagination strong{
   background-color: #eee;
}
.post-it-one{
   background: #e9e74a;
}
.post-it-two{
   background: #f59db9;
}
.post-it-three{
   background: #f9a55b;
}
.profile-info h2, .profile-info h3 {
   padding: 2px;
   margin: 2px 2px 12px 2px;
}
.radio-input{
   display: inline-block;
   margin: 3px;
   padding: 3px;
}
.radio-list{
   text-align: center;
}
.radio-slc{
   display: inline-block;
   padding: 3px 6px;
   margin: 4px;
   font-size: 14px;
   font-weight: normal;
   line-height: 1.428571429;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   border: 1px solid transparent;
   border-radius: 4px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
}
.rdo-danger {
   color: #fff;
   background-color: #D15528;
   border-color: #C83F1B;
}
.rdo-middlea{
   color: #fff;
   background-color: #C77C14;
   border-color: #CE7E25;
}
.rdo-middleb{
   color: #fff;
   background-color: #ADBF28;
   border-color: #B5C12E;
}
.rdo-success{
   color: #fff;
   background-color: #5AA021;
   border-color: #378C17;
}
.rdo-warning{
   color: #fff;
   background-color: #D9BB3C;
   border-color: #CBA927;
}
.search-form{
   margin-bottom: 15px;
   margin-top: 10px;
}
.search-region{
   background: #efefef;
   border-radius: 4px;
   margin-bottom: 10px;
   padding: 5px;
   text-align: center;
}
.success  {
   border-color: #468847;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
   box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.tag{
   background: #fff;
   border: 1px solid #ddd;
   border-radius: 15px;
   display: inline-block;
   padding: 1px 10px;
   margin: 5px;
}
.tarea-titulo{
   background: #0b679e;
   border-radius: 3px;
   color: #fff;
   display: block;
   margin-bottom: 3px;
   padding: 3px 3px 3px 12px;
}
.td_center{
   text-align: center;
}
.td_center .icon-long-arrow-up{
   color: red;
}
.test-img{
   text-align: right;
   float: right;
}
.top-avatar{
   width: 30px;
   height: 30px;
}