<!DOCTYPE html>
<html lang="en">


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

<body ng-app="App">

  <div ng-controller="Controller" >
    
      <li ng-repeat="artist">
         {{artist.name}}
      </li>
  </div>

  <script>
    angular.module("App", [])
        .controller("Controller", function($scope, $http) {            

               $http.get("artist.json").success(function(data)){
                  $scope.artists = data; 
               });              


        } );
  </script>

</body>

</html>